@using Domain.Articulos;
@using Web.Models;
@model CreateArticulo

<div class="container">
	<form method="post">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="mb-3">
			<label asp-for="@Model.Header" class="form-label">Header</label>
			<input id="header" asp-for="@Model.Header" type="text" class="form-control" />
			<span asp-validation-for="@Model.Header" class="text-danger"></span>
		</div>


		<div class="mb-3">
			<label asp-for="@Model.Body" class="form-label">Body</label>
			<textarea id="body" asp-for="@Model.Body" type="text" class="form-control"></textarea>
			<span asp-validation-for="@Model.Body" class="text-danger"></span>
		</div>

	

		@{
			var partialModel = SaveCancelViewModel.Create(0, "/articulos");
		}
		<partial name="_SaveCancelButtons" model="partialModel"/>
		
	</form>

</div>