@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;
@using Domain.Articulos;
@model List<ArticuloDTO>

@{
    ViewData["Title"] = "Articulos";
}
  @if (SignInManager.IsSignedIn(User))
 {
      <a class="btn btn-success" asp-controller="Home" asp-action="Create">Crear Articulo</a>
 }


@foreach (var Articulo in Model)
{
    <hr />
    <div class="card">
        <div class="card-header">
            @Articulo.Header
            @if (SignInManager.IsSignedIn(User))
            {
                <button class="btn btn-light ml-2" id="likeButton">
                    <i class="fas fa-thumbs-up"></i>
                    <span id="likeCount">0</span>
                </button>
                <button class="btn btn-light ml-2" id="dislikeButton">
                    <i class="fas fa-thumbs-down"></i>
                    <span id="dislikeCount">0</span>
                </button>
            }
        </div>
        <div class="card-body">

            <h6> @Articulo.Body</h6>

        </div>
        <div class="card-header">
            @if (SignInManager.IsSignedIn(User))
            {
                <form id="comentarioForm">
                    <textarea class="mb-1 mt-1" style="width: 100%;" id="comentarioInput" rows="2" MaxLength="100" placeholder ="Escribe tu comentario"></textarea>
                    <button id="submitButton" class="btn btn-success mb-1" type="submit" data-articulo-id="@Articulo.Id">Comentar</button>
                </form>
            }
            Comentarios            
        </div>
        
            @if (Articulo.Comentario != null && Articulo.Comentario.Any())
            {
                @foreach (var comentario in Articulo.Comentario)
            {
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <footer class="blockquote-footer">@comentario.Fecha.ToShortDateString() - @comentario.Comment</footer>
                    </blockquote>
                </div>
                }
            }
            else
            {
            <div class="card-body">
                <p>No hay comentarios.</p>
            </div>
            }
        


    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        let likeCount = 0;
        let dislikeCount = 0;
        let hasLiked = false;
        let hasDisliked = false;

        $('#likeButton').click(function () {
            if (!hasLiked && !hasDisliked) {
                likeCount++;
                hasLiked = true;
                $('#likeCount').text(likeCount);
            }
        });

        $('#dislikeButton').click(function () {
            if (!hasLiked && !hasDisliked) {
                dislikeCount++;
                hasDisliked = true;
                $('#dislikeCount').text(dislikeCount);
            }
        });

        $('#submitButton').click(function () {
            let comentario = {
                fecha: new Date().toISOString(),
                comment: $('#comentarioInput').val()
            };

            console.log('Enviando comentario:', comentario);

            fetch('https://localhost:44302/api/comentarios', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                mode: 'cors',
                body: JSON.stringify(comentario)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error en la solicitud');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Comentario creado con éxito:', data);
                    // Aquí puedes realizar acciones adicionales después de crear el comentario, si es necesario
                })
                .catch(error => {
                    console.error('Error al crear el comentario:', error);
                });
        });
    });

</script>
